
.color{
    background-color: #154660;
    border-color: #154660;
}
.navbar{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 1px 5px black;
    padding: 5px;

}
.navbar .navbar-brand:hover{
    font-size: 20px;
    color: blueviolet;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
    font-size: 20px;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: yellow;
    font-size: 20px;
}
h1{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: -50%,-50%;
}
.well{
    box-shadow: 2px 2px 15px 0px black;
}